@import url("common.css");

/* styles.css */

/*body {
    margin: 0;
    padding: 0;
    font-family: 'Poly', serif;
    font-weight: 700;
    font-size: 20px;
  }
  
  html{
    font-family: 'Poly', serif;
  }
  
  p {  
    font-family: 'Poly', serif;
  }*/
  
  /* Jardim Template CSS */
  
.jardim-fontn {
  font-family: 'Poly', serif;
  font-size: 18px;
  color: #000!important;
}

.jardim-custom-hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #fff, transparent);
  margin-top: 100px;
  margin-bottom: 100px;
}

.jardim-header {
  height: 750px;
  background-color: #c88061 !important;
  background-image: url('../../template-parts/jardim/images/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.jardim-img-back {
  background-image: url(images/endline1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jardim-title {
  color: #c8db57;
  font-size: 140px;
  font-family: 'Poly', serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.jardim-subtext {
  background-color: #d8b985;
  padding: 20px;
  text-align: center;
}

.jardim-date-wedding {
  font-size: 16px;
  margin-top: 16px;
  color: #000;
}

.jardim-casal-title {
  color: #000;
}

.jardim-text-hr {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Poly', serif;
  color: #000;
}

.jardim-countdown-box {
  display: inline-block;
  border-radius: 15px;
  padding: 0 60px 0 60px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.jardim-countdown-item {
  font-size: 90px;
  color: #4f4b40!important;
  display: inline-block;
  margin: 0 10px;
  padding: 20px 0px 80px 0;
  line-height: 56px;
}

.jardim-countdown-item-text {
  font-size: 36px;
  color: #000;
  display: inline-block;
  margin: 0 10px;
}

.jardim-image-border {
  width: 225px;
  margin-bottom: -25px;
}

.jardim-separator {
  border-left: 2px solid #fff;
  display: inline-block;
  margin: 0 8px;
  height: 90px;
  width: 3px;
}

.jardim-laterais {
  margin: 0 8px;
  height: 90px;
  width: 3px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-left: 1px black solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.jardim-margins {
  padding: 100px!important;
}

@media (max-width: 720px) {
  .jardim-margins {
    padding: 50px 0 80px 0!important;
  }
}

@media (max-width: 720px) {
  .jardim-margins2 {
    padding: 120px 20px 0 20px!important;
  }
}

@media (max-width: 720px) {
  .jardim-margins3 {
    padding: 60px 20px 0 20px!important;
  }
}

.jardim-bgsct2 {
  background-color: #f4f1ff;
}

.jardim-bgsct3 {
  background-color: #ece8ff;
}

.jardim-bgsct4 {
  background-color: #f1f1f1;
}

.jardim-bgsct5 {
  background-color: #f2ebdc;
}

.jardim-bgsct6 {
  background-color: #fff;
}

.jardim-bgsct7 {
  background-color: #f1f1f1;
}

.jardim-bgsct8 {
  background-color: #000;
}

.jardim-lead1 {
  color: #1e392e;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poly', serif;
  line-height: 28px;
  word-wrap: break-word;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 400;
}

.jardim-lead1-title {
  color: #724C9D!important;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Poly', serif;
  line-height: 28px;
  word-wrap: break-word;
  padding: 0 60px 60px 60px;
}

.jardim-lead2-title {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Poly', serif;
  line-height: 28px;
  word-wrap: break-word;
  padding: 0px 44px 0px 44px!important;
}

.jardim-border-trt {
  position: relative;
  display: inline-block;
  color: #4f4b40;
}

.jardim-border-trt::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 100%;
  border-right: solid 2px #000;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

@media (max-width: 720px) {
  .jardim-lead1-title {
    font-size: 50px;
    padding: 0 0 60px;
  }
}

.jardim-f-white {
  color: #fff;
}

.jardim-local1 {
  border-radius: 24px;
  background-color: #fff;
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jardim-title1 {
  background-color: transparent;
  border: solid #000 1px;
  border-radius: 24px;
  border-radius: 18px;
  padding: 10px 25px;
  text-align: left;
  width: fit-content;
  font-size: 22px;
}

.jardim-subtitle1 {
  color: #000!important;
  text-align: justify;
}

.jardim-owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff!important;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.jardim-owl-nav button.jardim-owl-prev {
  left: 0;
}

.jardim-owl-nav button.jardim-owl-next {
  right: 0;
}

.jardim-owl-dots {
  text-align: center;
  padding-top: 15px;
}

.jardim-owl-dots button.jardim-owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.jardim-owl-dots button.jardim-owl-dot.active {
  background-color: #000;
}

.jardim-owl-dots button.jardim-owl-dot:focus {
  outline: none;
}

.jardim-owl-nav button {
  position: absolute;
  top: 100%;
  border: solid 1px #fff!important;
  border-radius: 150px;
}

.jardim-owl-nav button:focus {
  outline: none;
}

.jardim-card-item {
  width: 200px;
  height: 150px;
  border-radius: 24px;
  background-color: #fff;
}

@media (max-width: 720px) {
  .jardim-card-item {
    width: 320px;
    height: 200px;
    border-radius: 24px;
    background-color: #fff;
  }
}

.jardim-event-icon {
  color: #000!important;
  border-right: solid 1px #000!important;
  padding-right: 25px;
  font-size: 20px;
}

.jardim-event-icon2 {
  color: #000!important;
  border-right: solid 1px #000!important;
  padding-right: 25px;
  font-size: 20px;
}

.jardim-owl-carousel .jardim-owl-nav .jardim-owl-next, .jardim-owl-carousel .jardim-owl-nav .jardim-owl-prev {
  width: 30px;
}

@media (max-width: 720px) {
  .jardim-owl-slider {
    margin: 0 20px 0 20px;
  }
}

.jardim-owl-slider {
  margin-top: -130px 0 0 0;
}

.jardim-form-group {
  margin-top: 40px;
  font-family: 'Poly', serif;
  font-size: 16px;
  text-align: left;
}

.jardim-form-font {
  font-family: 'Poly', serif;
}

.jardim-form {
  background-color: transparent;
  color: #000;
}

@media (max-width: 720px) {
  .jardim-form {
    padding: 0 20px 0 20px;
  }
}

.jardim-label {
  color: #000;
}

.jardim-form-control {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}

.jardim-gifts-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.jardim-gift-item {
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}

.jardim-gift-box {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 auto;
  line-height: 50px;
}

.jardim-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.jardim-gift {
  height: 100px;
  border-radius: 10px;
  background-color: white;
}

.jardim-btn-outline-secondary {
  color: #000;
  border-color: #000;
  margin-right: 15px;
}

.jardim-btn-final {
  color: #fff;
  border-color: #fff;
}

.jardim-highlight {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    background-color: yellow;
  }
}

.button-floating-jardim {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
